/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

.footer {
    position: fixed; 
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #424559;
    color: #fff;
    font-family: Calibri,serif;
}