{# empty Twig template #}
 <meta charset="UTF-8">
        <title>{% block title %}Snippets HOME{% endblock %}</title>
        {% block stylesheets %}
          <!--===============================================================================================-->	
	<link rel="icon" type="image/png" href="/snippets/images/favicon.ico"/>

<!--===============================================================================================-->
<script src="/vendor/axios.min.js"></script>
<script src="/vendor/vue.js"></script>
<script src="/vendor/vue-i18n.js"></script>
<script src="/vendor/vue-router.js"></script>
<script src="/snippets/lang/messages.js"></script> 
        {% endblock %}
